# Default values for odoo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent
  backup_manager:
    repository: ghcr.io/camptocamp/odoo-preinit-manager
    # TODO: change to stable
    tag: latest
  odoo:
    repository: ghcr.io/camptocamp/customer_odoo
    tag: xx.0.1.0.0
  nginx:
    repository: camptocamp/odoo-nginx
    tag: xx.0-1.6.0

imagePullSecrets:
  - name: github-packages

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  nginx:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      memory: 256Mi

nodeSelector: {}
tolerations: []

spreadOdooPodsOverNodes:
  enabled: true
  maxSkew: 1
  topologyKey: "kubernetes.io/hostname"
  whenUnsatisfiable: ScheduleAnyway

affinity: {}

additionalLabels: {}
  # aadpodidbinding: some-identity

additionalAnnotations: {}

rateLimit: {}
  # average: 3
  # burst: 5
  # paths:
  #   - "/web/login"
  #   - "/longpolling/poll"

ipFilter: false

issuerRef: letsencrypt-prod

ingressRouteClient: {}
  # hosts:
  #   - "integration.c2c.odoo.camptocamp.ch"
  # pathPrefix: '/'

ingressRouteInternal: {}
  # hosts:
  #   - "odoo-camptocamp-int.apps.odoo-ch-prod.camptocamp.com"
  # pathPrefix: '/'

roleBindings: {}
# roleBindings:
#   bs-superuser-pod-exec:
#     subjects:
#     - kind: Group
#       name: 77e80ab2-b3b8-4dac-a5db-99b131169e73
#       apiGroup: rbac.authorization.k8s.io
#     roleRef:
#       kind: ClusterRole
#       name: pod-exec
#       apiGroup: rbac.authorization.k8s.io

odoo:
  customerName: customer
  instance_type: standard
  base_url: ""
  report_url: ""
  env: integration
  storage:
    account_url: ""
    use_aad: '1'
    secret:
      name: odoo-storage
      container: container_name
  db:
    secret:
      name: odoo-database
      host: master
      user: username
      password: password
      database: database
    port: "5432"
    max_conn: 5
  redis:
    enabled: False
    secret:
      name: odoo-redis
      url: url
  log_handler: :INFO,werkzeug:ERROR
  log_level: info
  unaccent: "False"
  kwkhtmltopdf_server_url: http://kwkhtmltopdf.bs-kwkhtmltopdf01250:8080
  server_env_config: ""
  server_wide_modules: ""
  demo: "False"
  marabunta:
    enabled: "True"
    mode: Full
    allow_series: "False"
    force_backup: False
  limits:
    time_cpu: 86400
    time_real: 86400
    time_real_cron: 600
    request: 8192
  override_limits: {}
    # memory_soft: 650117120
    # memory_hard: 2097152000
    # workers: 12
  override_resources: {}
    # cpu: 5
    # memory: 8Gi
  queuejob:
    enabled: False
    workers: '2'
    limits:
      soft: "787973120"
      hard: "2147483648"
    max_cron: '0'
    channels: "root:2"
