apiVersion: v1
kind: ConfigMap
metadata:
  name: odoo-config
data:
  ODOO_BASE_URL: {{ .Values.odoo.base_url | default "http://localhost:8069" }}
  {{- if .Values.odoo.storage.use_aad }}
  AZURE_STORAGE_USE_AAD: '1'
  AZURE_STORAGE_ACCOUNT_URL: {{ .Values.odoo.storage.account_url }}
  {{- else if .Values.odoo.storage.connection_string }}
  AZURE_STORAGE_CONNECTION_STRING: {{ .Values.odoo.storage.connection_string }}
  {{- else }}
  AZURE_STORAGE_ACCOUNT_NAME: {{ .Values.odoo.storage.account_name }}
  AZURE_STORAGE_ACCOUNT_URL: {{ .Values.odoo.storage.account_url }}
  AZURE_STORAGE_ACCOUNT_KEY: {{ .Values.odoo.storage.account_key }}
  {{- end }}
  AZURE_STORAGE_NAME: {{ .Values.odoo.storage.name | default "" | quote }}
  LIMIT_MEMORY_SOFT: {{ .Values.odoo.limits.soft | default "650117120" | quote }}
  LIMIT_MEMORY_HARD: {{ .Values.odoo.limits.hard | default "1572864000" | quote }}
  LIMIT_REQUEST: {{ .Values.odoo.limits.request | default "8192" | quote }}
  LIMIT_TIME_CPU: {{ .Values.odoo.limits.time_cpu | default "86400" | quote }}
  LIMIT_TIME_REAL: {{ .Values.odoo.limits.time_real | default "86400" | quote }}
  LIMIT_TIME_REAL_CRON: {{ .Values.odoo.limits.time_real_cron | default "600" | quote }}
  MAX_CRON_THREADS: {{ .Values.odoo.limits.max_cron | default "1" | quote }}
  DEMO: {{ .Values.odoo.demo | default "False" | quote }}
  MARABUNTA_MODE: {{ .Values.odoo.marabunta.mode | default "Full" }}
  MARABUNTA_ALLOW_SERIE: {{ .Values.odoo.marabunta.allow_series | default "False" | quote }}
  MIGRATE: "False"
  ODOO_CLOUD_PLATFORM_UNSAFE: '0'
  ODOO_LOGGING_JSON: '1'
  {{- if .Values.odoo.redis.enabled }}
  ODOO_SESSION_REDIS: '1'
  ODOO_SESSION_REDIS_PREFIX: {{ include "odoo.name" . }}
  {{- end }}
  RUNNING_ENV: {{ .Values.odoo.env }}
  SERVER_WIDE_MODULES: {{ .Values.odoo.server_wide_modules | default "web,attachment_azure,session_redis,logging_json" }}
  SERVER_ENV_CONFIG: {{ toYaml .Values.odoo.server_env_config | default "" }}
  WORKERS: {{ .Values.odoo.workers | default "0" | quote }}
  LOG_HANDLER: {{ .Values.odoo.log_handler | default ":INFO,werkzeug:ERROR" }}
  LOG_LEVEL: {{ .Values.odoo.log_level | default "info" }}
  PGCLIENTENCODING: UTF8
