---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config{{- include "odoo-cs-suffix" . }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
data:
  NGX_ODOO_HOST: {{ .Values.nginx.odooHost | default "127.0.0.1" | quote }}
  NGX_ODOO_LONGPOLLING_PORT: {{ .Values.nginx.odooLongpollingPort | default "8072" | quote }}
  {{- if .Values.nginx.cacheSize }}
  NGX_CACHE_SIZE: {{ .Values.nginx.cacheSize | default "10m" | quote }}
  {{- end }}
  {{- if .Values.nginx.pdfContent }}
  NGX_ODOO_PDFCONTENT: {{ .Values.nginx.pdfContent | default "False" | quote }}
  {{- end }}
