---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "odoo.name" . }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "odoo.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        config-hash-odoo: {{ include (print $.Template.BasePath "/config-odoo.yaml") $ | sha256sum | trunc 63 }}
        config-hash-secret: {{ include (print $.Template.BasePath "/config-odoo-secret.yaml") $ | sha256sum | trunc 63 }}
        {{- with .Values.additionalAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ template "odoo.name" . }}
        release: "{{ .Release.Name }}"
        {{- include "odoo.selectorLabels" . | nindent 8 }}
        {{- with .Values.additionalLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.odoo.marabunta.enabled }}
      initContainers:
        {{- if or (eq .Values.odoo.env "prod") .Values.odoo.marabunta.force_backup }}
        - name: marabunta-setup
          image: "{{ .Values.image.odoo.repository }}:{{ .Values.image.odoo.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ['cp', '/odoo/migration.yml', '/tmp/migration.yml']
          volumeMounts:
            - name: marabunta-tmp
              mountPath: "/tmp"
        - name: backup-manager
          image: "{{ .Values.image.backup_manager.repository }}:{{ .Values.image.backup_manager.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - name: marabunta-tmp
              mountPath: "/tmp"
          env:
            - name: MIGRATION_FILE_PATH
              value: "/tmp/migration.yml"
            - name: CUSTOMER_NAME
              value: {{ .Values.odoo.customerName }}
            - name: ODOO_ENV
              value: {{ .Values.odoo.env }}
            - name: LAB_NAME
              value: {{ .Values.odoo.lab_name | default "" }}
            - name: CELEBRIMBOR_SVC
              value: "http://celebrimbor.bs-celebrimbor.svc.cluster.local:8080"
            {{- include "odoo.common-environment" . | nindent 12 }}
        {{- end }}
        - name: marabunta-migration
          image: "{{ .Values.image.odoo.repository }}:{{ .Values.image.odoo.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ['sh', '-c', "docker-entrypoint.sh gosu odoo migrate"]
          env:
            - name: LIMIT_MEMORY_SOFT
              value: "1300234240"
            {{- include "odoo.common-environment" . | nindent 12 }}
          envFrom:
            - configMapRef:
                name: odoo-config{{- include "odoo-cs-suffix" . }}
            - secretRef:
                name: odoo-secret{{- include "odoo-cs-suffix" . }}
                optional: true
      {{- end }}
      containers:
        - name: odoo
          image: "{{ .Values.image.odoo.repository }}:{{ .Values.image.odoo.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.odoo.oldversion }}
          command: ['sh', '-c', "docker-entrypoint.sh gosu odoo odoo {{ printf "--load=%s" (.Values.odoo.server_wide_modules | default "web,attachment_azure,session_redis,logging_json") }}"]
          {{- end }}
          env:
          {{- include "odoo.common-environment" . | nindent 12 }}
          envFrom:
            - configMapRef:
                name: odoo-config{{- include "odoo-cs-suffix" . }}
            - secretRef:
                name: odoo-secret{{- include "odoo-cs-suffix" . }}
                optional: true
          ports:
            - containerPort: 8069
              name: odoo
            - containerPort: 8072
              name: longpolling
          volumeMounts:
            {{- toYaml .Values.volumeMounts | nindent 12 }}
          resources:
          {{- include "odoo.physical-resources" . | nindent 12 }}
        - name: nginx
          image: "{{ .Values.image.nginx.repository }}:{{ .Values.image.nginx.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: nginx-config{{- include "odoo-cs-suffix" . }}
          resources:
            {{- toYaml .Values.resources.nginx | nindent 12 }}
          ports:
            - containerPort: 80
              name: http
      volumes:
        - name: marabunta-tmp
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.spreadOdooPodsOverNodes.enabled }}
      topologySpreadConstraints:
        - labelSelector:
            matchLabels:
              app: {{ template "odoo.name" . }}
              release: "{{ .Release.Name }}"
          maxSkew: {{ .Values.spreadOdooPodsOverNodes.maxSkew }}
          topologyKey: {{ .Values.spreadOdooPodsOverNodes.topologyKey }}
          whenUnsatisfiable: {{ .Values.spreadOdooPodsOverNodes.whenUnsatisfiable }}
      {{- end }}
{{ if .Values.odoo.queuejob.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "odoo.name" . }}-queuejob
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "odoo.selectorLabels" . | nindent 6 }}
      queuejob: "true"
  template:
    metadata:
      annotations:
        config-hash-odoo: {{ include (print $.Template.BasePath "/config-odoo.yaml") $ | sha256sum | trunc 63 }}
        config-hash-queuejob: {{ include (print $.Template.BasePath "/config-odoo-queue.yaml") $ | sha256sum | trunc 63 }}
        config-hash-secret: {{ include (print $.Template.BasePath "/config-odoo-secret.yaml") $ | sha256sum | trunc 63 }}
        {{- with .Values.additionalAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "odoo.selectorLabels" . | nindent 8 }}
        {{- with .Values.additionalLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        queuejob: "true"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: wait-for-odoo
          image: curlimages/curl:7.81.0
          imagePullPolicy: IfNotPresent
          # TODO: Change URL to healthcheck endpoint
          command: ['sh', '-c', "until [ $(curl -sw '%{http_code}' {{ include "odoo.fullname" . }}.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local/web/login -o /dev/null) = 200 ]; do echo waiting for Odoo; sleep 60; done"]
      containers:
        - name: odooqueue
          image: "{{ .Values.image.odoo.repository }}:{{ .Values.image.odoo.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.odoo.oldversion }}
          command: ['sh', '-c', "docker-entrypoint.sh gosu odoo odoo {{ printf "--load=%s,connector" (.Values.odoo.server_wide_modules | default "web,attachment_azure,session_redis,logging_json") }}"]
          {{- end }}
          env:
            {{- include "odoo.common-environment" . | nindent 12 }}
          envFrom:
            - configMapRef:
                name: odoo-config{{- include "odoo-cs-suffix" . }}
            - configMapRef:
                name: odooqueue-config{{- include "odoo-cs-suffix" . }}
            - secretRef:
                name: odoo-secret{{- include "odoo-cs-suffix" . }}
                optional: true
          volumeMounts:
            {{- toYaml .Values.volumeMounts | nindent 12 }}
          resources:
          {{- include "odoo.physical-resources" . | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{ end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "odoo.fullname" . }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
spec:
  ports:
    - port: 80
      targetPort: http
  selector:
    {{- include "odoo.selectorLabels" . | nindent 4 }}
...
