# Default values for posssl.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
ingress:
  annotations: 
#    kubernetes.io/ingress.class: nginx
#    kubernetes.io/tls-acme: "true"

service:
  labels: {}

redirects:
  conthey:
    port: 80
    external_port: 9552
    external_ip: 127.0.0.1
    hosts:
      - chart-example.local
    tls: []


